<div class="table-responsive">
  <table class="table table-striped table-hover">
    <caption>Currency configurations by market</caption>
    <thead>
      <tr>
        <th scope="col">Market</th>
        <th scope="col">Currency</th>
        <th scope="col">Show</th>
        <th scope="col">Where</th>
        <th scope="col">Cents</th>
        <th scope="col">Format</th>
        <th scope="col">Display</th>
        <th scope="col" class="col-1">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $ctrl.configs">
        <td>{{item.market}}</td>
        <td>{{item.currency}}</td>
        <td>{{item.config.show}}</td>
        <td>{{item.config.where}}</td>
        <td>{{item.config.cents}}</td>
        <td>{{item.config.format}}</td>
        <td>{{12345.6789 | currencyFormat:item.market:item.currency:item.config}}</td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="Action buttons">
            <button ng-click="$ctrl.onEdit(item)" type="button" class="btn btn-outline-warning">
              <i class="fas fa-edit" aria-hidden="true"></i>
              <span class="visually-hidden">Edit</span>
            </button>
            <button ng-click="$ctrl.onDelete(item)" type="button" class="btn btn-outline-danger">
              <i class="fas fa-trash" aria-hidden="true"></i>
              <span class="visually-hidden">Delete</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>